<div class="row new2">
  <div class="col-md-6 col-md-offset-3">
      <br>
      <br>
      <h2>SignUp</h2>
      <br>
      <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" name="firstName" placeholder="Enter firstname" [(ngModel)]="model.firstName" required minlength="3" maxlength="20" #firstName="ngModel" required />
              <div *ngIf="f.submitted && !firstName.valid" class="alert alert-danger">First Name is required(minimum 3 characters & maximum 20 characters)</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" name="lastName" placeholder="Enter lastname" [(ngModel)]="model.lastName" required minlength="3" maxlength="20" #lastName="ngModel" required />
              <div *ngIf="f.submitted && !lastName.valid" class="alert alert-danger">Last Name is required(minimum 3 characters & maximum 20 characters)</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" placeholder="Enter username" [(ngModel)]="model.username" required minlength="3" maxlength="20" #username="ngModel" required />
              <div *ngIf="f.submitted && !username.valid" class="alert alert-danger">Username is required(minimum 3 characters & maximum 20 characters)</div>
          </div>


          <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" required [(ngModel)]="model.password" name="password" #password="ngModel">
              <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                  Password is required
              </div>
          </div>
          <div class="form-group">
              <label for="ConfirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Re-type password" required Equalvalidate="password" [(ngModel)]="model.confirmPassword" name="confirmPassword" #confirmPassword="ngModel">
              <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">
                  Password mismatch
              </div>
          </div>

          <div class="form-group">
              <button [disabled]="loading" class="btn btn-info">Register</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
              />
              <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>


          </div>
      </form>
  </div>
</div>