<div *ngIf="currentUser" class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>




    <p><a [routerLink]="['/login']">Logout</a></p>
</div>
<div *ngIf="user" class="card text-center">
    <div class="card"></div>
    <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
    <div class="card">
        <h4 class="card-title">{{ user.name }}</h4>
        <p class="card-text">{{ user.email }}</p>
    </div>
    <div class="card-block">
        <button class="btn btn-danger" (click)="signOut()" target="_top">Sign out</button>
    </div>
</div>
<button [routerLink]="['/dashboard']" class="btn btn-link">Visit Dashboard</button>